{% extends 'Contributor/base.html' %}

{% block title %}Course{% endblock %}

{% block extra_head %}
    <!-- for dynaice textfield adding jquery-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <style>
        #rowAdder {
            margin-left: 17px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'Contributor/header.html' %}
    {% include 'Contributor/sidebar.html' %}

    <main id="main" class="main">

        <div class="pagetitle">
        <h1>Course</h1>
        <nav>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'Contributor:dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Create Course</li>
            <li class="breadcrumb-item active">{{ subject }}</li>
            <li class="breadcrumb-item active">{{ unit }}</li>
        </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Create Course</h5>

                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row mb-3">
                                  <label for="course_title" class="col-sm-2 col-form-label">Course Title</label>
                                  <div class="col-sm-10">
                                    <input name="course_title" id="course_title" type="text" class="form-control" placeholder="Course Title, Ex: Python OOPs Concepts" required>
                                  </div>
                                </div>

                                <div class="row mb-3">
                                  <label for="subject" class="col-sm-2 col-form-label">Subject</label>
                                  <div class="col-sm-10">
                                    <input name="subject" id="subject" type="text" class="form-control" value="{{ subject }} " disabled>
                                  </div>
                                </div>

                                <div class="row mb-3">
                                  <label for="unit" class="col-sm-2 col-form-label">Unit</label>
                                  <div class="col-sm-10">
                                    <input name="unit" id="unit" type="text" class="form-control" value="{{ unit }} " disabled>
                                  </div>
                                </div>

                                <div class="row mb-3">
                                  <label for="course_desc" class="col-sm-2 col-form-label">Course Description</label>
                                  <div class="col-sm-10">
                                    <textarea name="course_description" id="course_desc" class="form-control" style="height: 100px" placeholder="Course Description, Ex: This course will help you build foundation in DSA"></textarea>
                                  </div>
                                </div>

<!--                                <div class="row mb-3">-->
<!--                                  <label for="course_objectives" class="col-sm-2 col-form-label">Course Objective</label>-->
<!--                                  <div class="col-sm-10">-->
<!--                                    <input name="course_objectives" id="course_objectives" type="text" class="form-control" required>-->
<!--                                  </div>-->
<!--                                </div>-->
                                <div class="row mb-3">
                                  <label for="course_objectives" class="col-sm-2 col-form-label">Course Objectives</label>
                                    <div class="field_wrapper ">
                                      <div class="input-group mb-3">
                                          <a href="javascript:void(0);" class="add_button btn btn-outline-success" title="Add field">
                                          <span class="bi bi-plus-lg"></span></a>
                                          <input id="course_objectives" type="text" name="objectives" value="" class="form-control " placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                    </div>
                                  </div>
                                 </div>

<!--                                <div class="row mb-3">-->
<!--                                  <label for="course_prerequisite" class="col-sm-2 col-form-label">Prerequisites </label>-->
<!--                                  <div class="col-sm-10">-->
<!--                                    <input name="course_prerequisite" id="course_prerequisite" type="text" class="form-control" required>-->
<!--                                  </div>-->
<!--                                </div>-->

                                <!-- prerequisites -->
                                <div class="row mb-3">
                                  <label for="course_prerequisite" class="col-sm-2 col-form-label">Course Prerequisite</label>
                                    <div class="field_wrapper2">
                                      <div class="input-group mb-3">
                                          <a href="javascript:void(0);" class="add_button btn btn-outline-success" title="Add field">
                                          <span class="bi bi-plus-lg"></span></a>
                                          <input id="course_prerequisite" type="text" name="prerequisites" value="" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                    </div>
                                  </div>
                                </div>
                              <!-- endof prerequisite -->

                                <div class="row mb-3">
                                  <label for="course_video" class="col-sm-2 col-form-label">Course Video</label>
                                  <div class="col-sm-10">
                                    <input name="course_video" id="course_video" type="file" accept="video/*" class="form-control">
                                  </div>
                                </div>

                                <div class="row mb-3">
                                  <div class="col-sm-10">
                                    {{form.media}} {{form.as_p}}
                                  </div>
                                </div>

                                <div class="row mb-3">
                                  <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Save as a draft</button>
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

    {% include 'Contributor/footer.html' %}
    <script type="text/javascript">

      $(document).ready(function(){
          var maxField = 5; //Input fields increment limitation
          var addButton = $('.add_button'); //Add button selector
          var wrapper = ('.field_wrapper'); //Input field wrapper
          //var fieldHTML ='<div class="field_wrapper"><input type="text" name="field_name[]" value=""/>&nbsp;<a href="javascript:void(0);" class="remove_button btn btn-outline-danger"><span class="bi bi-x-lg"></span></a></div>'; //New input field html

        var fieldHTML= '<div class="field_wrapper "><div class="input-group mb-3"><a href="javascript:void(0);" class="remove_button btn btn-outline-danger"><span class="bi bi-x-lg"></span></a><input type="text" name="objectives" value="" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"/></div></div>'


          var x = 1; //Initial field counter is 1

          //Once add button is clicked
          // $(addButton).click(function(){
          //     //Check maximum number of input fields
          //     if(x < maxField){
          //         x++; //Increment field counter
          //         $theWrapper.append(fieldHTML); //Add field html
          //     }
          // });

          $(addButton).click(function(){ //Once add button is clicked
          var theWrapper = $(this).closest(wrapper);
          var x = theWrapper.children().length;
          if( x < maxField){ //Check maximum number of input fields
            theWrapper.append(fieldHTML);
          }
      });

          //Once remove button is clicked
          $(wrapper).on('click', '.remove_button', function(e){
              e.preventDefault();
              $(this).parent('div').remove(); //Remove field html
              x--; //Decrement field counter
          });
      });

      </script>
        <script>
            $(document).ready(function(){
          var maxField = 5; //Input fields increment limitation
          var addButton = $('.add_button'); //Add button selector
          var wrapper = ('.field_wrapper2'); //Input field wrapper
          //var fieldHTML ='<div class="field_wrapper"><input type="text" name="field_name[]" value=""/>&nbsp;<a href="javascript:void(0);" class="remove_button btn btn-outline-danger"><span class="bi bi-x-lg"></span></a></div>'; //New input field html

        var fieldHTML= '<div class="field_wrapper "><div class="input-group mb-3"><a href="javascript:void(0);" class="remove_button btn btn-outline-danger"><span class="bi bi-x-lg"></span></a><input type="text" name="prerequisites" value="" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"/></div></div>'


          var x = 1; //Initial field counter is 1

          //Once add button is clicked
          // $(addButton).click(function(){
          //     //Check maximum number of input fields
          //     if(x < maxField){
          //         x++; //Increment field counter
          //         $theWrapper.append(fieldHTML); //Add field html
          //     }
          // });

          $(addButton).click(function(){ //Once add button is clicked
          var theWrapper = $(this).closest(wrapper);
          var x = theWrapper.children().length;
          if( x < maxField){ //Check maximum number of input fields
            theWrapper.append(fieldHTML);
          }
      });

          //Once remove button is clicked
          $(wrapper).on('click', '.remove_button', function(e){
              e.preventDefault();
              $(this).parent('div').remove(); //Remove field html
              x--; //Decrement field counter
          });
      });
        </script>
        <script>
            window.onbeforeunload = function() {
                var text = "confirm leaving contributions page!";
                return text;
            }
        </script>
{% endblock %}

