{% extends 'Contributor/base.html' %}

{% block title %}Course{% endblock %}

{% block body %}
    {% include 'Contributor/header.html' %}
    {% include 'Contributor/sidebar.html' %}

    <main id="main" class="main">

        <div class="pagetitle">
        <h1>Course</h1>
        <nav>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'Contributor:dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Create Course</li>
        </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            {% if draft %}
                            <h5 class="card-title">{{ draft.course_title }}</h5>
                            {% else %}
                            <h5 class="card-title">This is feature is under progress!</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

    <script>
      const subjectDropdown = document.getElementById('subject');
      const unitDropdown = document.getElementById('unit');
      const dsaUnits = ['Arrays', 'Stack', 'Queues', 'Graphs', 'Trees']
      const dbmsUnits = ['MySQL', 'MongoDB', 'SQLite']
      const cnUnits = ['Network Devices', 'OSI Model', 'Protocols', 'TCP/IP']

      subjectDropdown.addEventListener('change', function() {
        const selectedSubject = subjectDropdown.value;
        unitDropdown.innerHTML = '';
        if (selectedSubject === 'DSA') {
            for (let i = 0; i < dsaUnits.length; i++) {
              const option = document.createElement('option');
              option.text = dsaUnits[i];
              option.value = dsaUnits[i];
              unitDropdown.add(option);
            }
          } else if (selectedSubject === 'DBMS') {
            for (let i = 0; i < dbmsUnits.length; i++) {
              const option = document.createElement('option');
              option.text = dbmsUnits[i];
              option.value = dbmsUnits[i];
              unitDropdown.add(option);
            }
          } else if (selectedSubject === 'CN') {
            for (let i = 0; i < cnUnits.length; i++) {
              const option = document.createElement('option');
              option.text = cnUnits[i];
              option.value = cnUnits[i];
              unitDropdown.add(option);
            }
          }
      });
    </script>

    {% include 'Contributor/footer.html' %}
{% endblock %}

