{% extends 'Contributor/base.html' %}
{% load static %}
{% block title %}Contribute{% endblock %}

{% block body %}
    {% include 'Contributor/header.html' %}
    {% include 'Contributor/sidebar.html' %}

<main id="main" class="main">

        <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'Contributor:dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Profile</li>
        </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">


                    </div>
                </div><!-- End Left side columns -->



                <!-- Right side columns -->
                <div class="col-lg-4">
                    <div class="row">


                    </div>
                </div><!-- End Right side columns -->

            </div>
        </section>

    </main><!-- End #main -->
    {% include 'Contributor/footer.html' %}
{% endblock %}