{% extends 'Contributor/base.html' %}
{% load static %}
{% block title %}Contribute{% endblock %}

{% block body %}
    {% include 'Contributor/header.html' %}
    {% include 'Contributor/sidebar.html' %}

<main id="main" class="main">

        <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'Contributor:dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Profile</li>
        </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

<!--              <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">-->
              <h2>{{profile.first_name}} {{profile.last_name}}</h2>
              <h3>Contributor</h3>
              <div class="social-links mt-2">
                  {% if profile.github %}
                <a href="{{ profile.github }}" class="github"><i class="bi bi-github"></i></a>
                  {% endif %}
                  {% if profile.linked_in %}
                <a href="{{ profile.linked_in }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  {% endif %}
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{profile.first_name}} {{profile.last_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{profile.email}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">DOB</div>
                    <div class="col-lg-9 col-md-8">{{profile.dob}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone Number</div>
                    <div class="col-lg-9 col-md-8">{{profile.phone_number}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">City</div>
                    <div class="col-lg-9 col-md-8">{{profile.city}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">College</div>
                    <div class="col-lg-9 col-md-8">{{profile.college}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">University</div>
                    <div class="col-lg-9 col-md-8">{{profile.university}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Qualification</div>
                    <div class="col-lg-9 col-md-8">{{profile.qualification}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Years of Experience</div>
                    <div class="col-lg-9 col-md-8">{{profile.years_of_experience}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Subjects to Contribute</div>
                      <div class="col-lg-9 col-md-8">{{profile.subjects_to_contribute}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Subjects of Interest</div>
                      <div class="col-lg-9 col-md-8">{{profile.subjects_of_interest}}</div>

                  </div>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form>
                      {% csrf_token %}
                      <div class="row mb-3">
                          <label for="username" class="col-sm-2 col-form-label">Username</label>
                          <div class="col-sm-10">
                            <input name="username" id="username" type="text" class="form-control" value="{{ user.username }}" disabled>
                          </div>
                      </div>
                      <div class="row mb-3">
                              <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                              <div class="col-sm-10">
                                <input name="first_name" id="first_name" type="text" class="form-control" required>
                              </div>
                      </div>
                      <div class="row mb-3">
                          <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                          <div class="col-sm-10">
                            <input name="last_name" id="last_name" type="text" class="form-control" required>
                          </div>
                      </div>
                        <div class="row mb-3">
                          <label for="email" class="col-sm-2 col-form-label">Email</label>
                          <div class="col-sm-10">
                            <input name="email" id="email" type="email" class="form-control" value="{{user.email}}" disabled>
                          </div>
                        </div>
                    <div class="row mb-3">
                      <label for="dob" class="col-sm-2 col-form-label">DOB</label>
                      <div class="col-sm-10">
                        <input name="dob" id="dob" type="date" class="form-control" required>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="phone_number" class="col-sm-2 col-form-label">Phone Number</label>
                      <div class="col-sm-10">
                        <input name="phone_number" id="phone_number" type="text" class="form-control" required>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="city" class="col-sm-2 col-form-label">City</label>
                      <div class="col-sm-10">
                        <input name="city" id="city" type="text" class="form-control" required>
                      </div>
                    </div>
                            <div class="row mb-3">
                              <label class="col-sm-2 col-form-label">College</label>
                              <div class="col-sm-10">
                                <select name="college" class="form-select" aria-label="Default select example" required>
                                  <option selected>Open this select menu</option>
                                  <option value="College 1">College 1</option>
                                  <option value="College 2">College 2</option>
                                  <option value="College 3">College 3</option>
                                </select>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label class="col-sm-2 col-form-label">University</label>
                              <div class="col-sm-10">
                                <select name="university" class="form-select" aria-label="Default select example" required>
                                  <option selected>Open this select menu</option>
                                  <option value="University 1">University 1</option>
                                  <option value="University 2">University 2</option>
                                  <option value="University 3">University 3</option>
                                </select>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="qualification" class="col-sm-2 col-form-label">Qualification</label>
                              <div class="col-sm-10">
                                <input name="qualification" id="qualification" type="text" class="form-control" required>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="year_of_exp" class="col-sm-2 col-form-label">Years of Experience</label>
                              <div class="col-sm-10">
                                <input name="years_of_exp" id="year_of_exp" type="number" class="form-control" required>
                              </div>
                            </div>

                            {% if subjects %}

                            <div class="row mb-3">
                              <label class="col-sm-2 col-form-label">Subjects to Contribute</label>
                              <div class="col-sm-10">

                                <select name="subjects_to_contrib" class="form-select" multiple aria-label="multiple select example" required>
                                    {% for subject in subjects %}
                                        <option value="{{subject}}">{{subject}}</option>
                                    {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label class="col-sm-2 col-form-label">Subjects of Interest</label>
                              <div class="col-sm-10">
                                <select name="subjects_of_interest" class="form-select" multiple aria-label="multiple select example" required>
                                    {% for subject in subjects %}
                                        <option value="{{subject}}">{{subject}}</option>
                                    {% endfor %}
                                </select>
                              </div>
                            </div>

                            {% endif %}

                            <div class="row mb-3">
                              <label for="linked_in" class="col-sm-2 col-form-label">Linked Profile</label>
                              <div class="col-sm-10">
                                <input name="linkedin" id="linked_in" type="text" class="form-control" required>
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="github" class="col-sm-2 col-form-label">Github Profile</label>
                              <div class="col-sm-10">
                                <input name="github" id="github" type="text" class="form-control">
                              </div>
                            </div>
                            <div class="row mb-3">
                              <label for="portfolio" class="col-sm-2 col-form-label">Portfolio Website</label>
                              <div class="col-sm-10">
                                <input name="portfolio" id="portfolio" type="text" class="form-control">
                              </div>
                            </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

    </main><!-- End #main -->
    {% include 'Contributor/footer.html' %}
{% endblock %}